<footer class="footer">
  <div class="contenedor__logo"><img class="logo__eafit" src="../../../assets/icons/logo-eafit.svg" alt="Logo Universidad EAFIT"></div>
  <div class="contenedor__redes__sociales">
    <div>
      <a href="" class="icon">
        <i class="bx bxl-youtube"></i>
      </a>
    </div>

    <div>
      <a href="" class="icon">
        <i class="bx bxl-instagram-alt"></i>
      </a>
    </div>
    <div>
      <a href="" class="icon">
        <i class="bx bxl-facebook"></i>
      </a>
    </div>
  </div>

  <p class="text">© 2024 Todos los derechos reservados</p>
</footer>
