/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilo para el nav*/
.nav {
    width: 80%;
    height: 3em;
    background-color: #1f9fda;
    color: #fff;
    padding: 10px 0;
    text-align: left;
}

/*estilo para el navbar*/
.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

 /*estilo para el menu*/
.menu {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* estilo para el body */
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

/*estilo para el header*/
header {
    width: 80%;
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
}

/* Estilos para el seccion de preguntas */
.sectionPreguntas {
    width: 60%;
    height: 18em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
 
}

.porque {
    width: 25%;
}
.como {
    width: 25%;
}
.que {
    width: 25%;
}



/* Estilos para el seccion de preguntas */
.diagnostico {
    width: 60%;
    height: 25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}

/*estilo para la seccion de imagen del circulo*/
.imgCirculo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgCirculo img {
    width: 50%;
    height: 50%;
}

/*estilo para la seccion inicial*/
.sectionInfo {
    width: 50%;
    height: 320px;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
}

/* Estilos para el contenedor del slider */
.slider-container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 3px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
}

.preguntas {
    width: 80%;
    height: 4em;
    padding: 40px 0;
    text-align: center;
}

/* estilo para los titulos */
h1 {
    color: blue;
}

h2 {
    text-align: center;
    color: blue;
}




/* Estilos para los slides */
.slide {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: justify;
    padding: 20px;
}

/* Estilo para el slide activo */
.slide.active {
    opacity: 1;
}

/* Estilos para los controles del slider */
.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slider-controls button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}

/* Estilo para el botón activo */
.slider-controls button.active {
    background-color: #fff;
    color: #000;
}


