<div class="resultadosCirculo" #resultadosCirculo></div>
<div class="contenedor__conclusiones">
  <p class="titulo__conclusiones">
    <span style="font-weight: 700">
      <img src="../../../../assets/icons/task.png" alt="icono corazón" />
      Conclusiones:
    </span>
  </p>
  <p>
    <span style="font-weight: 600">Sección ¿Por qué?: </span
    >{{ conclusiones[0] }}
  </p>
  <p>
    <span style="font-weight: 600">Sección ¿Cómo?: </span>{{ conclusiones[1] }}
  </p>
  <p>
    <span style="font-weight: 600">Sección ¿Qué?: </span>{{ conclusiones[2] }}
  </p>
</div>
