.resultadosCirculo {
    width: 500px;
    height: 500px;
  }

  .titulo__conclusiones {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor__conclusiones {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;    
  }

  .contenedor__conclusiones img {
    width: 1.5em;
  }
  
  @media (max-width: 786px) {
    .resultadosCirculo {
      width: 100%;
    }
  }
  
  @media (min-width: 1280px) and (max-width: 1430px) {
      .resultadosCirculo {
        width: 300px;
      }
    }


    @media (min-width: 1440px) and (max-width: 1620px) {
      .resultadosCirculo {
        width: 400px;
        height: 400px;
      }
    }