<div class="resultadosRadar" #resultadosRadar>
  <div class="contenedor__tabla">
    <table>
      <thead>
        <tr>
          <th scope="col" style="width: 230px; font-weight: 600">
            Elementos claves del negocio
          </th>
          <th scope="col" style="width: 140px; font-weight: 600">Ideal</th>
          <th scope="col" style="width: 140px; font-weight: 600">
            Calificación
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Conocimiento del cliente</th>
          <td>4</td>
          <td id="nivel1" readonly>{{ nivel1 }}</td>
        </tr>
        <tr>
          <th scope="row">Conocimiento del negocio</th>
          <td>4</td>
          <td id="nivel2" readonly>{{ nivel2 }}</td>
        </tr>
        <tr>
          <th scope="row">Coherencia del modelo de negocio</th>
          <td>4</td>
          <td id="nivel3" readonly>{{ nivel3 }}</td>
        </tr>
        <tr>
          <th scope="row">Alineación en la comunicación interna</th>
          <td>4</td>
          <td id="nivel4" readonly>{{ nivel4 }}</td>
        </tr>
        <tr>
          <th scope="row">Salud financiera</th>
          <td>4</td>
          <td id="nivel5" readonly>{{ nivel5 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
  <p class="titulo__conclusiones">
    <span style="font-weight: 700">
      <img src="../../../../assets/icons/task.png" alt="icono corazón" />
      Conclusiones:
    </span>
  </p>
    <p>
      <span style="font-weight: 600">Conocimiento del cliente: </span
      >{{ conocimientoCliente }}
    </p>
    <p>
      <span style="font-weight: 600">Conocimiento del negocio:</span>
      {{ conocimientoNegocio }}
    </p>
    <p>
      <span style="font-weight: 600">Coherencia del modelo de negocio:</span>
      {{ CoherenciaModeloNegocio }}
    </p>
    <p>
      <span style="font-weight: 600"
        >Alineación en la comunicación interna:</span
      >
      {{ AlineacionComunicacionInterna }}
    </p>
    <p>
      <span style="font-weight: 600">Salud financiera:</span>
      {{ saludFinanciera }}
    </p>
  </div>
</div>
