.header-nav {
  border-bottom: 2px solid #dfdfdf;
  backdrop-filter: blur(10px);
  justify-content: center;
  display: flex;
  background-color: #f8f9f4;
}

.contenedor__nav {
  width: 70%;
}

.logo {
  font-size: 1.5rem;
  color: #155fe7;
  text-decoration: none;
  font-weight: 700;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  color: #333333;
  text-decoration: none;
  font-weight: 500;
}

.nav-bar a {
  font-size: 1rem;
  color: #333333;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5em;
}

.nav-bar a:hover {
  font-size: 1rem;
  color: #155fe7;
  text-decoration: none;
  font-weight: 500;
}

.contenedor_sesion a {
  display: flex;
  gap: 0.5em;
  font-size: 1rem;
  color: #333333;
  text-decoration: none;
  font-weight: 500;
}

.bxs-user-circle::before {
  font-size: 1.5em;
  color: #155fe7;
}
#logo {
  font-size: 1.5rem;
  color: #155fe7;
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 786px) {
  .contenedor__nav {
    width: 100%;
  }
}
