<header class="header-nav" >
  <div class="contenedor__nav">
  <nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand ms-lg-5" href="inicio" id="logo">Estramipyme</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-lg-5 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="circulo-dorado">Círculo Dorado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="radar-estrategico">Radar estratégico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="resultados">Resultados</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</header>
