<header class="header-nav">
  <div class="contenedor_nav">
    <div>
      <a href="circulo-dorado" class="logo">Estramipyme</a>
    </div>
    <nav class="nav-bar">
      <ul>
        <a routerLink="/" routerLinkActive="color: #155FE7">Inicio</a>

        <a routerLink="/circulo-dorado" routerLinkActive="underline">Círculo Dorado</a>
        <a routerLink="/radar-estrategico" routerLinkActive="color: #155FE7">Radar estratégico</a>
        <a href="resultados">Resultados</a>
      </ul>
    </nav>
    <div class="contenedor_sesion">
      <a routerLink="/" routerLinkActive="color: #155FE7"><i class="bx bxs-user-circle"></i>Iniciar sesión</a>
    </div>
  </div>
</header>
