<header class="header-nav">
  <div class="contenedor_nav">
    <div>
      <a href="circulo-dorado" class="logo">Estramipyme</a>
    </div>
    <nav class="nav-bar">
      <ul>
        <a href="#">Inicio</a>

        <a href="circulo-dorado">Círculo Dorado</a>
        <a href="radar-estrategico">Radar estratégico</a>
        <a href="resultados">Resultados</a>
      </ul>
    </nav>
    <div class="contenedor_sesion">
      <a href="#"><i class="bx bxs-user-circle"></i>Iniciar sesión</a>
    </div>
  </div>
</header>
