<app-header></app-header>
<div class="contenedor__padre">
  <section class="radar__estrategico">
    <div class="contenedor__descripcion">
      <h2>Radar Estratégico</h2>
      <div class="instrucciones">
        <h3>Instrucciones</h3>
        <p class="parrafo__descripcion">
          En el Radar estratégico se calificara el micronegocio sujeto de
          análisis, en cada uno de los elementos claves del negocio sugerido por
          Estramipyme, Conocimiento del cliente, Conocimiento del negocio,
          Coherencia del modelo de negocio, Alineación en la comunicación
          interna y Salud financiera; cada elemento clave posee 4 niveles de
          calificación, se debe seleccionar la calificacion elegida en la
          columna "NIVEL".
        </p>
      </div>
    </div>
  </section>
  <section class="seccion__preguntas">
    <div class="contenedor__grafica">
      <app-grafica-radar></app-grafica-radar>
    </div>
    <div class="contenedor__preguntas">
      <app-formulario-preguntas-radar
        (nivelSeleccionado)="actualizarNivel($event)"
      ></app-formulario-preguntas-radar>
    </div>
    <div class="contenedor__boton__ver__resultados">
      <a href="/resultados" class="botonPrimario" id="botonPrimario">
        Ver resultados
      </a>
    </div>
  </section>
</div>
<app-footer></app-footer>
