.radar__estrategico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  margin: 3em 1em 3em 1em;
  text-align: center;
}

.instrucciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.contenedor__descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}

.parrafo__descripcion {
  text-align: center;
  margin: 0;
}

