<div class="contenedor-tabla">
  <input type="radio" name="slider" id="porque" [checked]="isPorQueChecked" />
  <input type="radio" name="slider" id="como" [checked]="isComoChecked" />
  <input type="radio" name="slider" id="que" [checked]="isQueChecked" />
  <nav>
    <label class="porque">¿Por qué?</label>
    <label class="como">¿Cómo?</label>
    <label class="que">¿Qué?</label>
    <div class="slider"></div>
  </nav>
  <section class="contenedor-preguntas">
    <div class="contenedor contenedor-tabs">
      <div class="grafica__progreso">
        <div class="graficaProgreso" #graficaProgreso></div>
      </div>
      <p class="contenedor__parrafo__preguntas" id="contenedor-parrafo">
        <span>En una escala del 1 al 3</span><br />
        {{ preguntaService.objetoPregunta.pregunta }}
      </p>
      <div class="contenedor-respuestas" id="contenedor-respuestas">
        <div>
          <input
            type="radio"
            id="nada"
            name="respuesta"
            value="nada"
            [(ngModel)]="this.preguntaService.radioValue"
            (click)="
              seleccionarOpcion(
                this.preguntaService.indexPregunta,
                this.preguntaService.opciones[0].texto
              )
            "
          />
          <label for="nada" id="nada">{{
            preguntaService.opciones[0].texto
          }}</label>
        </div>
        <div>
          <input
            type="radio"
            id="poco"
            name="respuesta"
            [(ngModel)]="this.preguntaService.radioValue"
            value="poco"
            (click)="
              seleccionarOpcion(
                this.preguntaService.indexPregunta,
                this.preguntaService.opciones[1].texto
              )
            "
          />
          <label for="poco" id="poco">{{
            preguntaService.opciones[1].texto
          }}</label>
        </div>
        <div>
          <input
            type="radio"
            id="mucho"
            name="respuesta"
            [(ngModel)]="this.preguntaService.radioValue"
            value="opcion3"
            (click)="
              seleccionarOpcion(
                this.preguntaService.indexPregunta,
                this.preguntaService.opciones[2].texto
              )
            "
          />
          <label for="mucho" id="opcion3">{{
            preguntaService.opciones[2].texto
          }}</label>
        </div>
      </div>
      <div
        class="contenedor-anterior-siguiente"
        id="contenedor-anterior-siguiente"
      >
        <div>
          <button
            class="botonPrimario"
            id="botonPrimario"
            (click)="manejarAnterior()"
          >
            Anterior
          </button>
        </div>

        <div class="contenedor__paginador">
          <div>
            <p class="progreso" id="progreso">
              Pregunta {{ preguntaService.indexPregunta }} de
              {{ preguntaService.basePreguntas.length }}
            </p>
          </div>
        </div>
        <div>
          <button
            class="botonPrimario"
            id="botonPrimario"
            (click)="manejarSiguiente()"
          >
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
