<section class="contenedor">
  <div class="contenedor__circulo">
    <div id="mainRespuestas" #mainRespuestas></div>
  </div>
  <section class="contenedor__seccion__preguntas">
    <div class="contenedor__seccion__preguntas__descripcion">
      <p>
        En esta sección, encontrarás una serie de preguntas diseñadas para
        evaluar tu PYME a través del 'Círculo Dorado'. Este modelo te ayudará a
        reflexionar sobre aspectos fundamentales de tu negocio: ¿por qué
        existe?, ¿cómo lo haces?, y ¿qué es lo que haces?.
      </p>
      <h3>¡Comienza a evaluar! 😁</h3>
    </div>
    <div class="contenedor-tabla">
      <input
        type="radio"
        name="slider"
        id="porque"
        [checked]="isPorQueChecked"
      />
      <input type="radio" name="slider" id="como" [checked]="isComoChecked" />
      <input type="radio" name="slider" id="que" [checked]="isQueChecked" />
      <nav>
        <label class="porque">¿Por qué?</label>
        <label class="como">¿Cómo?</label>
        <label class="que">¿Qué?</label>
        <div class="slider"></div>
      </nav>
      <section class="contenedor-preguntas">
        <div class="contenedor contenedor-tabs">
          <p class="progreso" id="progreso">
            Pregunta {{ indexPregunta + 1 }} de {{ preguntas.length }}
          </p>
          <p class="contenedor__parrafo" id="contenedor-parrafo">
            {{ objetoPregunta?.pregunta }}
          </p>
          <div class="contenedor-respuestas" id="contenedor-respuestas">
            <div>
              <input
                type="radio"
                id="opcion1"
                name="respuesta"
                [(ngModel)]="seleccionada"
                value="opcion1"
              />
              <label for="opcion1" id="opcion1">{{ opciones?.opcion1 }}</label>
            </div>
            <div>
              <input
                type="radio"
                id="opcion2"
                name="respuesta"
                [(ngModel)]="seleccionada"
                value="opcion2"
              />
              <label for="opcion2" id="opcion2">{{ opciones?.opcion2 }}</label>
            </div>
            <div>
              <input
                type="radio"
                id="opcion3"
                name="respuesta"
                [(ngModel)]="seleccionada"
                value="opcion3"
              />
              <label for="opcion3" id="opcion3">{{ opciones?.opcion3 }}</label>
            </div>
          </div>
          <div
            class="contenedor-anterior-siguiente"
            id="contenedor-anterior-siguiente"
          >
            <div>
              <button id="botonAnterior" (click)="manejarAnterior()">
                Anterior
              </button>
            </div>
            <div>
              <button id="botonSiguiente" (click)="manejarSiguiente()">
                Siguiente
              </button>
            </div>
          </div>
        </div>
        <div class="contenedor-echart">
          <div id="main"></div>
        </div>
      </section>
    </div>
  </section>
</section>
