.informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  margin: 3em 1em 3em 1em;
  text-align: center;
}

.informacion h3 {
  text-align: end;
  text-align: center;
  width: auto;
  display: flex;
  align-items: center;
}

.seccion__preguntas {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.contenedor__grafica {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor__preguntas {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
}

.contenedor__descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
.contenedor__seccion__preguntas__descripcion {
  display: flex;
  flex-direction: column;
  background-color: #e9eef2;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
}

.contenedor__seccion__preguntas__descripcion h3 {
  justify-content: center;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.parrafo__descripcion {
  text-align: center;
}

.parrafo {
  margin: 0;
  text-align: justify;
}

.informacion__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6em;
}

.card {
  width: 18.5em;
  background-color: white;
  border-bottom: 4px solid #155fe7;
  border-radius: 0.5em;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card__titulo {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card__titulo img {
  width: 2.3em;
}

@media (max-width: 786px) {
  .seccion__preguntas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }
  .contenedor__grafica {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .contenedor__seccion__preguntas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: 1em;
  }
  .contenedor__preguntas {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
  }
}

@media (min-width: 786px) and (max-width: 1024px)  {
  .informacion__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }
  .seccion__preguntas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }
  .contenedor__grafica {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .contenedor__seccion__preguntas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: 1em;
  }
  .contenedor__preguntas {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
  }
  .card {
    width: 14em;
    background-color: white;
    border-bottom: 4px solid #155fe7;
    border-radius: 0.5em;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

@media (min-width: 1440) and (max-width: 1620px) {
  .seccion__preguntas {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }
  .contenedor__grafica {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contenedor__preguntas {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
  }
  
}