<main>
  <section class="informacion">
    <h2>Círculo Dorado</h2>
    <div class="informacion__cards">
      <div class="card">
        <div class="card__titulo">
          <img src="../../../../assets/images/porque.svg" alt="icono corazón" />
          <h3>¿Por qué?</h3>
        </div>
        <p class="card_parrafo">
          La razón fundamental de existencia de tu negocio (Propósito)
        </p>
      </div>
      <div class="card">
        <div class="card__titulo">
          <img src="../../../../assets/como.svg" alt="icono lupa" />
          <h3>¿Cómo?</h3>
        </div>
        <p class="card_parrafo">
          El método o proceso mediante el cual tu negocio cumple su propósito
          (Propuesta de valor)
        </p>
      </div>
      <div class="card">
        <div class="card__titulo">
          <img src="../../../../assets/que.svg" alt="icono caja" />
          <h3>¿Qué?</h3>
        </div>
        <p class="card_parrafo">
          Aquí se describe lo que la organización o persona hace concretamente
          (Productos y servicios)
        </p>
      </div>
    </div>
  </section>
  <app-formulario-preguntas></app-formulario-preguntas>
</main>
