<section class="seccion__preguntas">
  <div class="contenedor__grafica">
    <div #graficaRadar style="width: 600px; height: 600px;"></div>
  </div>
  <div class="contenedor__preguntas">
    <div class="contenedor__tabla">
      <table>
        <thead>
          <tr>
            <th colspan="2">{{ objetoPregunta?.titulo }}</th>
          </tr>
        </thead>
        <thead class="head__nivel__dos">
          <tr>
            <th class="niveles">Nivel</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="fila__uno"
            [class.seleccion]="preguntaSeleccionada === niveles?.nivel1"
            (click)="
              seleccionarOpcion(niveles?.nivel1, descripciones?.descripcion1)
            "
          >
            <td class="numeros">{{ niveles?.nivel1 }}</td>
            <td>{{ descripciones?.descripcion1 }}</td>
          </tr>
          <tr
            class="fila__dos"
            [class.seleccion]="preguntaSeleccionada === niveles?.nivel2"
            (click)="
              seleccionarOpcion(niveles?.nivel2, descripciones?.descripcion2)
            "
          >
            <td class="numeros">{{ niveles?.nivel2 }}</td>
            <td>
              {{ descripciones?.descripcion2 }}
            </td>
          </tr>
          <tr
            class="fila__tres"
            [class.seleccion]="preguntaSeleccionada === niveles?.nivel3"
            (click)="
              seleccionarOpcion(niveles?.nivel3, descripciones?.descripcion3)
            "
          >
            <td class="numeros">{{ niveles?.nivel3 }}</td>
            <td>
              {{ descripciones?.descripcion3 }}
            </td>
          </tr>
          <tr
            class="fila_cuatro"
            [class.seleccion]="preguntaSeleccionada === niveles?.nivel4"
            (click)="
              seleccionarOpcion(niveles?.nivel4, descripciones?.descripcion4)
            "
          >
            <td class="numeros">{{ niveles?.nivel4 }}</td>
            <td>
              {{ descripciones?.descripcion4 }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="contenedor-anterior-siguiente"
      id="contenedor-anterior-siguiente"
    >
      <button class="botonPrimario" id="botonPrimario">Anterior</button>
      <div>Sección {{ indexPregunta }} de {{ preguntasRadar.length }}</div>

      <button
        class="botonPrimario"
        id="botonPrimario"
        (click)="manejarSiguiente()"
      >
        Siguiente
      </button>
    </div>
  </div>
</section>
