.contenedor__borrar {
  display: flex;
  justify-content: center;
}

.botonSecundario {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #4c80e2;
  padding: 0.5em 1em;
  border-radius: 0.8em;
  cursor: pointer;
  color: #333333;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.15);
  font-size: 14px;
}

.botonSecundario:hover {
  background-color: #155fe7;
  color: white;
  box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.15);
}

.contenedor__tabla {
  border: solid 1px #155fe7;
  border-radius: 5px 5px 0 0;
}

table {
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

thead {
  background-color: #155fe7;
  color: #fff;
}

.head__nivel__dos {
  background-color: #cdd1d4;
  color: #333333;
}

.niveles {
  border: none;
}

.numeros {
  display: flex;
  justify-content: center;
  border: none;
}

th {
  padding: 20px 25px;
  font-weight: 700;
  text-transform: uppercase;
  border-left: solid 1px #155fe7;
  text-align: center;
}

td {
  padding: 15px;
  border-left: solid 1px #155fe7;
  color: #333333;
  height: 50px;
}

tbody tr {
  background: #f4f4f4;
  cursor: pointer;
  border-bottom: solid 1px #155fe7;
}

tbody tr:hover {
  background: #dee0e2;
  cursor: pointer;
}

tbody tr:active {
  background: #0864c1;
  cursor: pointer;
}

.contenedor-anterior-siguiente {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1em;
}

.botonPrimario {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #155fe7;
  padding: 1em 2.3em;
  border-radius: 0.8em;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.15);
  font-size: 14px;
}

.botonPrimario:hover {
  background-color: #1a6fde;
  color: white;
  box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 896px) {
  .contenedor-anterior-siguiente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3em;
    gap: 0.5em;
  }
}
