<div class="contenedor__tabla">
  <table>
    <thead>
      <tr>
        <th colspan="2">{{ this.preguntaRadarService.objetoPregunta?.titulo }}</th>
      </tr>
    </thead>
    <thead class="head__nivel__dos">
      <tr>
        <th class="niveles">Nivel</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="fila__uno"
        [class.seleccion]="this.preguntaRadarService.preguntaSeleccionada === this.preguntaRadarService.niveles?.nivel1"
        (click)="
          seleccionarOpcion(this.preguntaRadarService.niveles?.nivel1, this.preguntaRadarService.descripciones?.descripcion1)
        "
      >
        <td class="numeros">{{ this.preguntaRadarService.niveles?.nivel1 }}</td>
        <td>{{ this.preguntaRadarService.descripciones?.descripcion1 }}</td>
      </tr>
      <tr
        class="fila__dos"
        [class.seleccion]="this.preguntaRadarService.preguntaSeleccionada === this.preguntaRadarService.niveles?.nivel2"
        (click)="
          seleccionarOpcion(this.preguntaRadarService.niveles?.nivel2, this.preguntaRadarService.descripciones?.descripcion2)
        "
      >
        <td class="numeros">{{ this.preguntaRadarService.niveles?.nivel2 }}</td>
        <td>
          {{ this.preguntaRadarService.descripciones?.descripcion2 }}
        </td>
      </tr>
      <tr
        class="fila__tres"
        [class.seleccion]="this.preguntaRadarService.preguntaSeleccionada === this.preguntaRadarService.niveles?.nivel3"
        (click)="
          seleccionarOpcion(this.preguntaRadarService.niveles?.nivel3, this.preguntaRadarService.descripciones?.descripcion3)
        "
      >
        <td class="numeros">{{ this.preguntaRadarService.niveles?.nivel3 }}</td>
        <td>
          {{ this.preguntaRadarService.descripciones?.descripcion3 }}
        </td>
      </tr>
      <tr
        class="fila_cuatro"
        [class.seleccion]="this.preguntaRadarService.preguntaSeleccionada === this.preguntaRadarService.niveles?.nivel4"
        (click)="
          seleccionarOpcion(this.preguntaRadarService.niveles?.nivel4, this.preguntaRadarService.descripciones?.descripcion4)
        "
      >
        <td class="numeros">{{ this.preguntaRadarService.niveles?.nivel4 }}</td>
        <td>
          {{ this.preguntaRadarService.descripciones?.descripcion4 }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="contenedor-anterior-siguiente"
  id="contenedor-anterior-siguiente"
>
  <button class="botonPrimario" id="botonPrimario" (click)="manejarAnterior()"
  >Anterior</button>
  <div>Sección {{ this.preguntaRadarService.indexPregunta + 1 }} de {{ this.preguntaRadarService.BasepreguntasRadar.length }}</div>

  <button
    class="botonPrimario"
    id="botonPrimario"
    (click)="manejarSiguiente()"
  >
    Siguiente
  </button>
</div>
<div class="contenedor__borrar">
  <button
    class="botonSecundario"
    id="botonSecundario"
    (click)="this.preguntaRadarService.reiniciarRespuestas()"

  >
    Reiniciar formulario
  </button>
</div>