<app-header></app-header>
<div class="contenedor__padre">
<section class="page__resultados">
  <section class="seccion__resultados">
    <div class="resultados__circulo">
      <div class="contenedor__resultado">
        <div class="headerCirculo">
          <h2>Círculo Dorado</h2>
        </div>
        <app-resultados-circulo></app-resultados-circulo>
      </div>
    </div>
    <div class="resultados__radar">
      <div class="contenedor__resultado">
        <div class="headerRadar">
          <h2>Radar Estratégico</h2>
        </div>
        <app-resultados-radar></app-resultados-radar>
      </div>
    </div>
  </section>
</section>
</div>
<app-footer></app-footer>

