<app-header></app-header>

<section class="main">

  <div class="contenedor__inicio">
    <h1 class="contenedor__inicio--title">Estramypyme</h1>
    <p class="contenedor__inicio--subtitle">Metodología fácil y ágil para diseñar una estrategia competitiva.</p>
    <div class="contenedor__btn">
      <button class="btn--item">Círculo dorado</button>
      <button class="btn--item">Radar estratégico</button>
    </div>
  </div>

  <div>
    <img src="../../../../assets/icons/Home.png" alt="" class="img">
  </div>

</section>
