<app-header></app-header>
<div class="contenedor__padre">
  <section class="main">
    <div class="contenedor__inicio">
      <h1 class="contenedor__inicio--title">Estramipyme</h1>
      <p class="contenedor__inicio--subtitle">
        Metodología fácil y ágil para diseñar una estrategia competitiva.
      </p>
      <div class="contenedor__btn">
        <div>
          <a href="/circulo-dorado" class="botonPrimario"
            >Círculo Dorado <i class="bx bxs-chevron-right"></i
          ></a>
        </div>

        <div>
          <a href="/radar-estrategico" class="botonPrimario"
            >Radar Estratégico <i class="bx bxs-chevron-right"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="contenedor__imagen">
      <img src="../../../../assets/icons/Home.png" alt="" class="img" />
    </div>
  </section>
</div>
<app-footer></app-footer>
